<?xml version="1.0"?>
<robot name="ugv_devkit_v1.1" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find ugv_devkit_bringup)/urdf/chassis_macro.urdf.xacro" />

  <xacro:arg name="chassis_extension" default="true" />

  <material name="silver">
    <color rgba="0.700 0.700 0.700 1.000"/>
  </material>

  <link name="ugv_devkit_base_link"></link>

  <xacro:extension_kit chassis_extension="$(arg chassis_extension)" 
    parent_link="ugv_devkit_base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:extension_kit>

</robot>