<?xml version="1.0"?>
<robot name="mid360_sensor_kit" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="perception_kit" params="camera_pos camera_type *origin">

    <xacro:arg name="use_nominal_extrinsics" default="false"/>
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
    
    <xacro:property name="type" value="${camera_type}" />

    <xacro:if value="${type in ['realsense_d435', 'rgb_camera']}">    
      <link name="${camera_pos}_camera_link">
        <inertial>
          <origin xyz="-0.118 0 -0.32" rpy="${M_PI/2} 0 ${M_PI/2}" />
          <mass value="0.0" />
          <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0" />
        </inertial>
        <visual>
          <origin xyz="-0.118 0 -0.32" rpy="${M_PI/2} 0 ${M_PI/2}" />
          <geometry>
            <mesh
              filename="package://mid360_sensor_kit_bringup/meshes/${camera_type}.stl"
              scale="0.001 0.001 0.001" />
          </geometry>
          <material name="silver" />
        </visual>
        <collision>
          <origin xyz="-0.118 0 -0.32" rpy="${M_PI/2} 0 ${M_PI/2}" />
          <geometry>
            <mesh
              filename="package://mid360_sensor_kit_bringup/meshes/${camera_type}.stl"
              scale="0.001 0.001 0.001" />
          </geometry>
        </collision>
      </link>

      <joint name="${camera_pos}_camera_joint" type="fixed">
        <parent link="perception_kit_base_link" />
        <child link="${camera_pos}_camera_link" />
        <xacro:insert_block name="origin" />
      </joint>
    </xacro:if>

    <xacro:if value="${type in ['realsense_d435']}">
      <xacro:sensor_d435 parent="${camera_pos}_camera_link" name="${camera_pos}_d435" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
        <origin xyz="-0.005 0.006 -0.0085" rpy="0 0 0"/>
      </xacro:sensor_d435>
    </xacro:if>
  </xacro:macro>

</robot>