<?xml version="1.0"?>
<robot name="mid360_sensor_kit" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="camera_kit" params="camera_pos camera_type *origin">

    <xacro:property name="type" value="${camera_type}" />

    <xacro:if value="${type in ['realsense_d435', 'rgb_camera']}">
      <link name="${camera_pos}_camera_link">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh
              filename="package://mid360_sensor_kit_bringup/meshes/${camera_type}.stl"
              scale="0.001 0.001 0.001" />
          </geometry>
        </visual>
      </link>

      <joint name="${camera_pos}_camera_joint" type="fixed">
        <parent link="camera_kit_base_link" />
        <child link="${camera_pos}_camera_link" />
        <xacro:insert_block name="origin" />
      </joint>
    </xacro:if>
  </xacro:macro>

</robot>