<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
    name="mobile_claw">

    <!-- Arguments -->
    <xacro:arg name="mid360_sensorkit" default="true" />

    <!-- Include files -->
    <xacro:include filename="$(find wr_devkit_description)/urdf/materials.xacro" />
    <xacro:include
        filename="$(find wr_devkit_description)/urdf/wr_devkit_base.urdf.xacro" />

    <!-- Sensor Kits -->
    <xacro:if value="$(arg mid360_sensorkit)">
        <xacro:include
            filename="$(find wr_devkit_description)/urdf/mid360_sensorkit.urdf.xacro" />

        <joint name="top_sensorkit_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="top_sensorkit_link" />
            <child link="mid360_sensorkit_base_link" />
        </joint>
    </xacro:if>
</robot>