<?xml version="1.0"?>
<robot name="wr_devkit" xmlns:xacro="http://ros.org/wiki/xacro" >

    <xacro:include filename="$(find wr_devkit_description)/urdf/include/materials.xacro" />
    <!-- Arguments -->
    <xacro:arg name="mid360_sensor_kit" default="false" />
    <xacro:arg name="w200d_sensor_kit" default="false" />

    <!-- Include files -->
    <xacro:include
        filename="$(find wr_devkit_description)/urdf/wr_devkit_base.urdf.xacro" />

    <!-- Sensor Kits -->
    <xacro:if value="$(arg mid360_sensor_kit)">
        <xacro:include
            filename="$(find wr_devkit_description)/urdf/mid360_sensor_kit.urdf.xacro" />

        <joint name="top_sensorkit_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="top_sensorkit_link" />
            <child link="mid360_sensorkit_base_link" />
        </joint>
    </xacro:if>
</robot>