<?xml version="1.0"?>
<robot name="w200d_sensor_kit" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="robot_base" default="ranger_mini" />
  
  <xacro:property name="sensor_kit_info_yaml"
    value="${xacro.load_yaml('$(find w200d_sensor_kit_bringup)/config/ultrasonic_offsets.param.yaml')}" />
  <xacro:property name="sensor_kit_info"
    value="${sensor_kit_info_yaml['offsets']['$(arg robot_base)']}" />

  <xacro:property name="z_offset" value="${sensor_kit_info['z_offset']}" />
  <xacro:property name="x1_offset" value="${sensor_kit_info['front_rear_x_offset']}" />
  <xacro:property name="y1_offset" value="${sensor_kit_info['front_rear_y_offset']}" />
  <xacro:property name="x2_offset" value="${sensor_kit_info['side_x_offset']}" />
  <xacro:property name="y2_offset" value="${sensor_kit_info['side_y_offset']}" />

  <link name="base_link"/>

  <joint name="w200d_sensor_kit_base_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="w200d_sensor_kit_base_link" />
  </joint>

  <link name="w200d_sensor_kit_base_link"> <!-- Conceptually same position as base link-->
  </link>

  <link name="ultrasonic_link_0"> <!-- Front-facing front right-->
  </link>

  <link name="ultrasonic_link_1">
  </link>

  <link name="ultrasonic_link_2">
  </link>

  <link name="ultrasonic_link_3">
  </link>

  <link name="ultrasonic_link_4">
  </link>

  <link name="ultrasonic_link_5">
  </link>

  <link name="ultrasonic_link_6">
  </link>

  <link name="ultrasonic_link_7">
  </link>


  <joint name="ultrasonic_joint_0" type="fixed">
    <origin xyz="${x1_offset} -${y1_offset} ${z_offset}" rpy="0 0 0" />
    <parent link="w200d_sensor_kit_base_link" />
    <child link="ultrasonic_link_0" />
  </joint>

  <joint name="ultrasonic_joint_1" type="fixed">
    <origin xyz="${x1_offset} ${y1_offset} ${z_offset}" rpy="0 0 0" />
    <parent link="w200d_sensor_kit_base_link" />
    <child link="ultrasonic_link_1" />
  </joint>

  <joint name="ultrasonic_joint_2" type="fixed">
    <origin xyz="${x2_offset} ${y2_offset} ${z_offset}" rpy="0 0 1.5708" />
    <parent link="w200d_sensor_kit_base_link" />
    <child link="ultrasonic_link_2" />
  </joint>

  <joint name="ultrasonic_joint_3" type="fixed">
    <origin xyz="-${x2_offset} ${y2_offset} ${z_offset}" rpy="0 0 1.5708" />
    <parent link="w200d_sensor_kit_base_link" />
    <child link="ultrasonic_link_3" />
  </joint>

  <joint name="ultrasonic_joint_4" type="fixed">
    <origin xyz="-${x1_offset} ${y1_offset} ${z_offset}" rpy="0 0 3.1416" />
    <parent link="w200d_sensor_kit_base_link" />
    <child link="ultrasonic_link_4" />
  </joint>

  <joint name="ultrasonic_joint_5" type="fixed">
    <origin xyz="-${x1_offset} -${y1_offset} ${z_offset}" rpy="0 0 3.1416" />
    <parent link="w200d_sensor_kit_base_link" />
    <child link="ultrasonic_link_5" />
  </joint>

  <joint name="ultrasonic_joint_6" type="fixed">
    <origin xyz="-${x2_offset} -${y2_offset} ${z_offset}" rpy="0 0 -1.5708" />
    <parent link="w200d_sensor_kit_base_link" />
    <child link="ultrasonic_link_6" />
  </joint>

  <joint name="ultrasonic_joint_7" type="fixed">
    <origin xyz="${x2_offset} -${y2_offset} ${z_offset}" rpy="0 0 -1.5708" />
    <parent link="w200d_sensor_kit_base_link" />
    <child link="ultrasonic_link_7" />
  </joint>

</robot>